# ESP-IDF build directories and files
build/
sdkconfig*
!sdkconfig.ci

# VSCode specific files
.vscode/
!.vscode/c_cpp_properties.json
!.vscode/settings.json
!.vscode/tasks.json

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.bin
*.elf

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# ESP-IDF specific
components/
managed_components/
dependencies.lock

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db 
*.devcontainer/

